body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin: 0;
  background: #193549;
  color: white;
}

.container{
  width: 1200px;
  margin: auto;
  font-size: 1.2em;
}

header{
  height: 80px;
  background: slategray;
  position: relative;
}

main{
  display: grid;
  grid-template-columns: auto 300px;
  min-height: 400px;
}

main>article{
  background: lightgrey;
}

main>aside{
  background: indianred;
}

footer{
  background: bisque;
  height: 45px;
  color: brown;
  line-height: 45px;
}

#sachbanchay .listsach{
  display: grid;
  grid-template-columns: 33% 33% auto;
  grid-gap: 10px;
}

.motsach{
  border: 1px solid rgb(8,3,41);
  text-align: center;
}

.motsach h3{
  height: 50px;
  margin: 5px 0 0 0;
  font-size: 1.3em;
  color: darkorange;
  font-weight: bold;
}

.motsach a{
  color: deeppink;
  font-size: 1em;
}

.motsach img{
  max-width: 100%;
  height: 180px;
  border: 1px black solid;
  margin: 30px 0 0 0;
}

.thich{
  background-color: darksalmon;
}

.btnchonmua{
  height: 45px;
  width: 80px;
  background: darkcyan;
  border: none;
  margin-right: 10px;
  color: white;
}

.btnchonmua:hover{
  background: darkorange;
  color: white;
  cursor: pointer;
}

.btnthich{
  height: 43px;
  width: 45px;
  background: darkslategray;
  border: none;
  margin-right: 10px;
  color: white;
  border-radius: 50%;
}

.btnthich:hover{
  background: darkorange;
  color: white;
  cursor: pointer;
}

.hiengiohang h2{
  font-size: 1em;
}

.hiengiohang .motsach{
  border: 1px white solid;
  margin: 5px 3px;
  padding: 5px;
  text-align: left;
  font-size: 0.8em;
  text-transform: capitalize;
  height: 100px;
}

.hiengiohang .motsach img{
  width: 60px;
  height: 95px;
  margin-right: 10px;
  margin: 0;
}

.hiengiohang .motsach p{
  margin-top: 0;
  margin-bottom: 5px;
}